<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#"
        ><i class="fas fa-feather-alt"></i> Weather</a
    >
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link <%= path==='/'?'active underline':'' %>"
                    href="/"
                    >Current Weather</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link <%= path==='/more-details'?'active underline':'' %>"
                    href="/more-details"
                    >More Details</a
                >
            </li>
        </ul>
    </div>
</nav>
