<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs") %>
    <body>
        <%- include("../includes/nav.ejs") %>
        <div class="container">
            <h1>Oops some error occured!!!</h1>
            <p>Error code: 404 page not found</p>
        </div>
    </body>
</html>
